@page "/"

@using MarkFlow.FileService
@using Markdig

@inject IFileService FileService

<div class="wrapper">
  @if (@Html is not null)
  {
    @Html
  }
  else
  {
    <p>Loading...</p>
  }
</div>
@code {
  private MarkupString? Html { get; set; }

  protected override async Task OnInitializedAsync()
  {
    if (FileService is null) return;

    var markdown = await FileService.ReadFileAsync();
    Html = (MarkupString)Markdown.ToHtml(markdown);

    await base.OnInitializedAsync();
  }
}
