@page "/"

@using MarkFlow.FileService

@inject IFileService FileService

<pagetitle>home</pagetitle>

<h1>hello, world!</h1>

welcome to your new app.
@Markdown

@code {
  private string Markdown { get; set; } = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    if (FileService is null) return;

    Markdown = await FileService.ReadFileAsync("/README.md");

    await base.OnInitializedAsync();
  }
}
